<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>DarkMalt - Un réseau entrepreneur de A à Z</title>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700|Rubik:300,400,500" rel="stylesheet">

  <!-- pe-icon-7 Css-->
  <link rel="stylesheet" type="text/css" href="./css/pe-icon-7-stroke.css" />

  <!--Material Icon -->
  <link rel="stylesheet" type="text/css" href="./css/materialdesignicons.min.css" />

  <!-- Bootstrap Css-->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />

  <!-- Magnific-popup -->
  <link rel="stylesheet" href="./css/magnific-popup.css">

  <!-- Custom Css -->
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  <link rel="stylesheet" href="./css/colors/red.css" id="color-opt">
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>