<script>
export default {
  name: "navbar",
  mounted: () => {
    window.onscroll = function () {
      onwindowScroll();
    };
    var navbar = document.getElementById("navbar");
    function onwindowScroll() {
      if (
        document.body.scrollTop > 50 ||
        document.documentElement.scrollTop > 50
      ) {
        navbar.style.backgroundColor = "#272a33";
        navbar.style.padding = "10px";
      } else {
        navbar.style.backgroundColor = "";
        navbar.style.padding = "20px";
      }
    }
  },
  methods: {
    /**
     * Toggle menu
     */
    toggleMenu() {
      document.getElementById("navbarCollapse").classList.toggle("show");
    },
  },
};
</script>

<template>
  <!--Navbar Start-->
  <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" id="navbar">
    <div class="container">
      <!-- LOGO -->
      <img class="navbar-brand" src="../../assets/images/logo/logo1.png" width="15%" alt="logo" style="margin-left: 0px;">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
        @click="toggleMenu()"
      >
        <i class="mdi mdi-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto navbar-center" id="mySidenav" v-scroll-spy-active>
          <li class="nav-item">
            <a href="/" class="nav-link">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us" >Qui sommes-nous ? </a>
          </li>
        </ul>
        <div class="nav-button ml-auto">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <router-link :to="{name: 'Signup page'}">
                <button
                type="button"
                class="btn btn-custom navbar-btn btn-rounded waves-effect waves-light click-axeptio"
              >Inscription</button>
              </router-link>
              <router-link :to="{name: 'Login page'}">
                <button
                  type="button"
                  class="btn btn-custom navbar-btn btn-rounded waves-effect waves-light click-axeptio"
                >Login
                </button>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->
</template>