<script>
import Navbar from "@/components/public/navbar";
import Footer from "@/components/public/Homepage/footer";
import FooterTop from "@/components/public/Homepage/footerTop";
export default {
  name: "aboutUs",
  components: {
    Navbar,
    Footer,
    FooterTop
  },
};
</script>

<template>
  <div>
    <Navbar />
    <div v-scroll-spy>
      <section class="section ">
        <div class="bg-overlay1"></div>
      </section>
      <!--END HOME-->
      <section class="section pt-5" id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h1 class="section-title text-center">Qui sommes-nous ?</h1>
              <div class="section-title-border margin-t-20"></div>
              <p
                class="section-subtitle text-muted text-center padding-t-30 font-secondary"
              >
                Nous sommes 5 étudiants à l'ESGI Paris qui ont voulu développer
                un service hors du commun. Celui de pouvoir aider ces compagnons
                développeurs à devenir freelance. Grâce à notre plateforme,
                argent et bonheur vous attendent de pied ferme et nous avons
                fait en sorte que toute votre expérience soit intuitive de A à
                Z.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="section pt-4" id="team">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h1 class="section-title text-center">Notre équipe</h1>
              <div class="section-title-border margin-t-20"></div>
            </div>
          </div>
          <div class="row margin-t-50">
            <div class="col-lg-2 col-sm-6 offset-md-1">
              <div class="team-box text-center hover-effect">
                <div class="team-wrapper">
                  <div class="team-member">
                    <img
                      alt
                      src="@/assets/images/team/img-1.jpg"
                      class="img-fluid rounded"
                    />
                  </div>
                </div>
                <h4 class="team-name">Ewan LEMEE</h4>
                <p class="text-uppercase team-designation">Developpeur</p>
              </div>
            </div>

            <div class="col-lg-2 col-sm-6">
              <div class="team-box text-center hover-effect">
                <div class="team-wrapper">
                  <div class="team-member">
                    <img
                      alt
                      src="@/assets/images/team/img-2.png"
                      class="img-fluid rounded"
                    />
                  </div>
                </div>
                <h4 class="team-name">Théo AMBROIS</h4>
                <p class="text-uppercase team-designation">Developpeur</p>
              </div>
            </div>

            <div class="col-lg-2 col-sm-6">
              <div class="team-box text-center hover-effect">
                <div class="team-wrapper">
                  <div class="team-member">
                    <img
                      alt
                      src="@/assets/images/team/img-3.jpg"
                      class="img-fluid rounded"
                    />
                  </div>
                </div>
                <h4 class="team-name">Valentin ROUSSEL</h4>
                <p class="text-uppercase team-designation">Developpeur</p>
              </div>
            </div>

            <div class="col-lg-2 col-sm-6">
              <div class="team-box text-center hover-effect">
                <div class="team-wrapper">
                  <div class="team-member">
                    <img
                      alt
                      src="@/assets/images/team/img-4.jpg"
                      class="img-fluid rounded"
                    />
                  </div>
                </div>
                <h4 class="team-name">Nashad HEDOO</h4>
                <p class="text-uppercase team-designation">Developpeur</p>
              </div>
            </div>

            <div class="col-lg-2 col-sm-6">
              <div class="team-box text-center hover-effect">
                <div class="team-wrapper">
                  <div class="team-member">
                    <img
                      alt
                      src="@/assets/images/team/img-5.png"
                      class="img-fluid rounded"
                    />
                  </div>
                </div>
                <h4 class="team-name">Andrea ECHEVERRIA</h4>
                <p class="text-uppercase team-designation">Developpeur</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <FooterTop />
      <Footer />
    </div>
  </div>
</template>

<style scoped>
::v-deep .modal-content {
  background-color: #000000;
  color: white;
  background: none;
  border: none;
}
::v-deep .modal-header {
  border: none;
}
::v-deep .modal-backdrop {
  opacity: 0.5;
}
</style>
