<script>
import Navbar from "@/components/public/navbar";
import Footer from "@/components/public/Homepage/footer";
import FooterTop from "@/components/public/Homepage/footerTop";
export default {
  name: "aboutUs",
  components: {
    Navbar,
    Footer,
    FooterTop,
  },
};
</script>

<template>
  <div>
    <Navbar />
    <div v-scroll-spy>
      <section class="section ">
        <div class="bg-overlay1"></div>
      </section>
      <!--END HOME-->
      <section class="section pt-5" id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h1 class="section-title text-center">
                Condition général d'utilisation
              </h1>
              <div class="section-title-border margin-t-20"></div>
              <h5
                style="color: black !important;"
                class="section-subtitle text-muted padding-t-30 font-secondary"
              >
                1) Objet Les présentes conditions générales ont pour objet de
                définir les modalités et conditions d’utilisation des services
                proposés sur le site (ci-après : les « Services »), ainsi que de
                définir les droits et obligations des parties dans ce cadre.
                Elles sont notamment accessibles et imprimables à tout moment.
                Elles peuvent être complétées, le cas échéant, par des
                conditions d’utilisation particulières à certains Services. En
                cas de contradiction, les conditions particulières prévalent sur
                ces conditions générales.<br> <br> 2) Exploitant des Services Les
                Services sont exploités par la société Colia LP (ci-après : «
                L’Éditeur »). L’Éditeur peut être contacté aux coordonnées
                suivantes : contact (at) ik-generator [dot] com<br> <br> 3) Accès au site
                et aux Services Les Services sont accessibles, sous réserve des
                restrictions prévues sur le site : – à toute personne physique
                disposant de la pleine capacité juridique pour s’engager au
                titre des présentes conditions générales. La personne physique
                qui ne dispose pas de la pleine capacité juridique ne peut
                accéder au Site et aux Services qu’avec l’accord de son
                représentant légal ; – à toute personne morale agissant par
                l’intermédiaire d’une personne physique disposant de la capacité
                juridique pour contracter au nom et pour le compte de la
                personne morale.<br> <br> 4) Acceptation des conditions générales
                L’acceptation des présentes conditions générales est
                matérialisée par une case à cocher dans le formulaire
                d’inscription. Cette acceptation ne peut être que pleine et
                entière. Toute adhésion sous réserve est considérée comme nulle
                et non avenue. L’Utilisateur qui n’accepte pas d’être lié par
                les présentes conditions générales ne doit pas utiliser les
                Services. <br> <br>5) Inscription sur le site L’utilisation des Services
                nécessite que l’Utilisateur s’inscrive sur le site, en
                remplissant le formulaire prévu à cet effet. L’Utilisateur doit
                fournir l’ensemble des informations marquées comme obligatoires.
                Toute inscription incomplète ne sera pas validée. L’inscription
                entraîne automatiquement l’ouverture d’un compte au nom de
                l’Utilisateur (ci-après : le « Compte »), lui donnant accès à un
                espace personnel (ci-après : l’« Espace Personnel ») qui lui
                permet de gérer son utilisation des Services sous une forme et
                selon les moyens techniques que L’Éditeur juge les plus
                appropriés pour rendre lesdits Services. L’Utilisateur garantit
                que toutes les informations qu’il donne dans le formulaire
                d’inscription sont exactes, à jour et sincères et ne sont
                entachées d’aucun caractère trompeur. Il s’engage à mettre à
                jour ces informations dans son Espace Personnel en cas de
                modifications, afin qu’elles correspondent toujours aux critères
                susvisés. L’Utilisateur est informé et accepte que les
                informations saisies aux fins de création ou de mise à jour de
                son Compte vaillent preuve de son identité. Les informations
                saisies par l’Utilisateur l’engagent dès leur validation.
                L’Utilisateur peut accéder à tout moment à son Espace Personnel
                après s’être identifié à l’aide de son identifiant de connexion
                ainsi que de son mot de passe. L’Utilisateur s’engage à utiliser
                personnellement les Services et à ne permettre à aucun tiers de
                les utiliser à sa place ou pour son compte, sauf à en supporter
                l’entière responsabilité. Il est pareillement responsable du
                maintien de la confidentialité de son identifiant et de son mot
                de passe. Il doit immédiatement contacter L’Éditeur aux
                coordonnées mentionnées à l’article 2 des présentes s’il
                remarque que son Compte a été utilisé à son insu. Il reconnaît à
                L’Éditeur le droit de prendre toutes mesures appropriées en
                pareil cas.<br> <br> 6) Description des Services • L’Utilisateur a accès
                aux Services décrits sur le site, sous une forme et selon les
                fonctionnalités et moyens techniques que L’Éditeur juge les plus
                appropriés. • L’utilisation d’IK-Generator à des fins
                frauduleuses ne saurait engager que l’utilisateur. •
                L’utilisateur est entièrement responsable de l’utilisation
                d’IK-Generator. • La disponibilité des adresses n’a vocation
                qu’à simulation des tableaux d’indemnités kilométriques et à la
                bonne performance du logiciel. • Nous ne recommandons en aucun
                cas d’utiliser IK-Generator pour fournir à quelconque
                administration des tableaux volontairement simulés. • Ces
                derniers ne sont que le résultat d’une simulation à des fins de
                projection comptable.<br> <br> 7) Services payants 1. Prix Le prix des
                Services est indiqué sur le site. Sauf mention contraire, ils
                sont exprimés en euros et toutes taxes comprises. L’Éditeur se
                réserve le droit, à sa libre discrétion et selon des modalités
                dont elle sera seule juge, de proposer des offres
                promotionnelles ou réductions de prix. 2. Révision des prix Le
                prix des Services peut faire l’objet d’une révision par
                L’Éditeur à tout moment, à sa libre discrétion. L’Utilisateur
                sera informé de ces modifications par L’Éditeur par email sous
                un préavis de 60 jours au moins avant l’entrée en vigueur des
                nouveaux tarifs. L’Utilisateur qui n’accepte pas les nouveaux
                prix doit mettre fin à son utilisation des Services selon les
                modalités prévues à l’article 18. A défaut, il sera réputé avoir
                accepté les nouveaux tarifs. 3. Facturation Les Services font
                l’objet de factures qui sont communiquées à l’Utilisateur par
                tout moyen utile. 4. Modalités de paiement Les modalités de
                paiement du prix des Services sont décrites sur le site. Le
                paiement s’effectue par prélèvement automatique à partir du
                numéro de carte bancaire de l’Utilisateur. Le prélèvement est
                mis en œuvre par le prestataire de paiement désigné sur le site,
                qui seul conserve les coordonnées bancaires de l’Utilisateur à
                cette fin. L’Éditeur ne conserve aucune coordonnée bancaire.
                L’Utilisateur garantit à L’Éditeur qu’il dispose des
                autorisations nécessaires pour utiliser le mode de paiement
                choisi. Il s’engage à prendre les mesures nécessaires afin que
                le prélèvement automatique du prix des Services puisse être
                effectué. 5. Retards et incidents de paiement L’Utilisateur est
                informé et accepte expressément que tout retard de paiement de
                tout ou partie d’une somme due à son échéance entraînera
                automatiquement, sans préjudice des dispositions de l’article 12
                et sans mise en demeure préalable : 5.1. La déchéance du terme
                de l’ensemble des sommes dues par l’Utilisateur et leur
                exigibilité immédiate ; 5.2. La suspension immédiate des
                Services en cours jusqu’au complet paiement de l’intégralité des
                sommes dues par l’Utilisateur ; 5.3. La facturation au profit de
                L’Éditeur d’un intérêt de retard au taux de un virgule cinq
                pourcent, le taux de l’intérêt légal, assis sur le montant de
                l’intégralité des sommes dues par l’Utilisateur.<br> <br> 8) Données
                L’Utilisateur reconnaît et accepte expressément : 1) que les
                données recueillies sur le site et sur les équipements
                informatiques de L’Éditeur font foi de la réalité des opérations
                intervenues dans le cadre des présentes ; 2) que ces données
                constituent le seul mode de preuve admis entre les parties,
                notamment pour le calcul des sommes dues à L’Éditeur.
                L’Utilisateur peut accéder à ces données dans son Espace
                Personnel.<br> <br> 9) Obligations de l’Utilisateur Sans préjudice des
                autres obligations prévues aux présentes, l’Utilisateur s’engage
                à respecter les obligations qui suivent : 1. L’Utilisateur
                s’engage, dans son usage des Services, à respecter les lois et
                règlements en vigueur et à ne pas porter atteinte aux droits de
                tiers ou à l’ordre public. Il est notamment seul responsable du
                bon accomplissement de toutes les formalités notamment
                administratives, fiscales et/ou sociales et de tous les
                paiements de cotisations, taxes ou impôts de toutes natures qui
                lui incombent, le cas échéant, en relation avec son utilisation
                des Services. La responsabilité de L’Éditeur ne pourra en aucun
                cas être engagée à ce titre. 2. L’Utilisateur reconnaît avoir
                pris connaissance sur le site des caractéristiques et
                contraintes, notamment techniques, de l’ensemble des Services.
                Il est seul responsable de son utilisation des Services. 3.
                L’Utilisateur est informé et accepte que la mise en œuvre des
                Services nécessite qu’il soit connecté à internet et que la
                qualité des Services dépend directement de cette connexion, dont
                il est seul responsable. 4. L’Utilisateur est également seul
                responsable des relations qu’il pourra nouer avec les autres
                Utilisateurs et des informations qu’il leur communique dans le
                cadre des Services. Il lui appartient d’exercer la prudence et
                le discernement appropriés dans ces relations et communications.
                L’Utilisateur s’engage en outre, dans ses échanges avec les
                autres Utilisateurs, à respecter les règles usuelles de
                politesse et de courtoisie. 5. L’Utilisateur s’engage à faire un
                usage strictement personnel des Services. Il s’interdit en
                conséquence de céder, concéder ou transférer tout ou partie de
                ses droits ou obligations au titre des présentes à un tiers, de
                quelque manière que ce soit. 6. L’Utilisateur s’engage à fournir
                à L’Éditeur toutes les informations nécessaires à la bonne
                exécution des Services. Plus généralement, l’Utilisateur
                s’engage à coopérer activement avec L’Éditeur en vue de la bonne
                exécution des présentes. 7. L’Utilisateur est seul responsable
                des contenus de toute nature (rédactionnels, graphiques,
                audiovisuels ou autres, en ce compris la dénomination et/ou
                l’image éventuellement choisies par l’Utilisateur pour
                l’identifier sur le site) qu’il diffuse dans le cadre des
                Services (ci-après désignés : les « Contenus »). Il garantit à
                L’Éditeur qu’il dispose de tous les droits et autorisations
                nécessaires à la diffusion de ces Contenus. Il s’engage à ce que
                lesdits Contenus soient licites, ne portent pas atteinte à
                l’ordre public, aux bonnes mœurs ou aux droits de tiers,
                n’enfreignent aucune disposition législative ou règlementaire et
                plus généralement, ne soient aucunement susceptibles de mettre
                en jeu la responsabilité civile ou pénale de L’Éditeur.
                L’Utilisateur s’interdit ainsi de diffuser, notamment et sans
                que cette liste soit exhaustive : • des Contenus
                pornographiques, obscènes, indécents, choquants ou inadaptés à
                un public familial, diffamatoires, injurieux, violents, racistes
                ou xénophobes, • des Contenus contrefaisants, • des Contenus
                attentatoires à l’image d’un tiers, • des Contenus mensongers,
                trompeurs ou proposant ou promouvant des activités illicites,
                frauduleuses ou trompeuses, • des Contenus nuisibles aux
                systèmes informatiques de tiers (tels que virus, vers, chevaux
                de Troie, etc.), • et plus généralement des Contenus
                susceptibles de porter atteinte aux droits de tiers ou d’être
                préjudiciables à des tiers, de quelque manière et sous quelque
                forme que ce soit. • L’Utilisateur reconnaît que les Services
                lui offrent une solution supplémentaire mais non alternative des
                moyens qu’il utilise déjà par ailleurs pour atteindre le même
                objectif et que cette solution ne saurait se substituer à ces
                autres moyens. • L’Utilisateur doit prendre les mesures
                nécessaires pour sauvegarder par ses propres moyens les
                informations de son Espace Personnel qu’il juge nécessaires,
                dont aucune copie ne lui sera fournie. • L’Utilisateur est
                informé et accepte que la mise en œuvre des Services nécessite
                qu’il soit connecté à internet et que la qualité des Services
                dépend directement de cette connexion, dont il est seul
                responsable.<br> <br> 10) Garantie de l’Utilisateur L’Utilisateur
                garantit L’Éditeur contre toutes plaintes, réclamations, actions
                et/ou revendications quelconques que L’Éditeur pourrait subir du
                fait de la violation, par l’Utilisateur de l’une quelconque de
                ses obligations ou garanties aux termes des présentes conditions
                générales. Il s’engage à indemniser L’Éditeur de tout préjudice
                qu’elle subirait et à lui payer tous les frais, charges et/ou
                condamnations qu’elle pourrait avoir à supporter de ce fait.<br> <br> 11)
                Comportements prohibés Il est strictement interdit d’utiliser
                les Services aux fins suivantes : 1. l’exercice d’activités
                illégales, frauduleuses ou portant atteinte aux droits ou à la
                sécurité des tiers, 2. l’atteinte à l’ordre public ou la
                violation des lois et règlements en vigueur, 3. l’intrusion dans
                le système informatique d’un tiers ou toute activité de nature à
                nuire, contrôler, interférer, ou intercepter tout ou partie du
                système informatique d’un tiers, en violer l’intégrité ou la
                sécurité, 4. l’envoi d’emails non sollicités et/ou de
                prospection ou sollicitation commerciale, 5. les manipulations
                destinées à améliorer le référencement d’un site tiers, 6.
                l’aide ou l’incitation, sous quelque forme et de quelque manière
                que ce soit, à un ou plusieurs des actes et activités décrits
                ci-dessus, 7. et plus généralement toute pratique détournant les
                Services à des fins autres que celles pour lesquelles ils ont
                été conçus. 8. Il est strictement interdit aux Utilisateurs de
                copier et/ou de détourner à leurs fins ou à celles de tiers le
                concept, les technologies ou tout autre élément du site de
                L’Éditeur. 9. Sont également strictement interdits : (i) tous
                comportements de nature à interrompre, suspendre, ralentir ou
                empêcher la continuité des Services, (ii) toutes intrusions ou
                tentatives d’intrusions dans les systèmes de L’Éditeur, (iii)
                tous détournements des ressources système du site, (iv) toutes
                actions de nature à imposer une charge disproportionnée sur les
                infrastructures de ce dernier, (v) toutes atteintes aux mesures
                de sécurité et d’authentification, (vi) tous actes de nature à
                porter atteinte aux droits et intérêts financiers, commerciaux
                ou moraux de L’Éditeur ou des usagers de son site, et enfin plus
                généralement (vii) tout manquement aux présentes conditions
                générales. 10. Il est strictement interdit de monnayer, vendre
                ou concéder tout ou partie de l’accès aux Services ou au site,
                ainsi qu’aux informations qui y sont hébergées et/ou partagées.
                <br> <br>12) Sanctions des manquements En cas de manquement à l’une
                quelconque des dispositions des présentes conditions générales
                ou plus généralement, d’infraction aux lois et règlements en
                vigueur par un Utilisateur, L’Éditeur se réserve le droit de
                prendre toute mesure appropriée et notamment de : 1. suspendre
                ou résilier l’accès aux Services de l’Utilisateur, auteur du
                manquement ou de l’infraction, ou y ayant participé, 2.
                supprimer tout contenu mis en ligne sur le site, 3. publier sur
                le site tout message d’information que L’Éditeur jugera utile,
                4. avertir toute autorité concernée, 5. engager toute action
                judiciaire. <br> <br>13) Responsabilité et garantie de L’Éditeur 1.
                L’Éditeur s’engage à fournir les Services avec diligence et
                selon les règles de l’art, étant précisé qu’il pèse sur elle une
                obligation de moyens, à l’exclusion de toute obligation de
                résultat, ce que les Utilisateurs reconnaissent et acceptent
                expressément. 2. L’Éditeur n’a pas connaissance des Contenus mis
                en ligne par les Utilisateurs dans le cadre des Services, sur
                lesquels elle n’effectue aucune modération, sélection,
                vérification ou contrôle d’aucune sorte et à l’égard desquels
                elle n’intervient qu’en tant que prestataire d’hébergement. En
                conséquence, L’Éditeur ne peut être tenue pour responsable des
                Contenus, dont les auteurs sont des tiers, toute réclamation
                éventuelle devant être dirigée en premier lieu vers l’auteur des
                Contenus en question. Les Contenus préjudiciables à un tiers
                peuvent faire l’objet d’une notification à L’Éditeur selon les
                modalités prévues par l’article 6 I 5 de la loi n° 2004-575 du
                21 juin 2004 pour la confiance dans l’économie numérique,
                L’Éditeur se réservant de prendre les mesures décrites à
                l’article 12. 3. L’Éditeur décline toute responsabilité en cas
                de perte éventuelle des informations accessibles dans l’Espace
                Personnel de l’Utilisateur, celui-ci devant en sauvegarder une
                copie et ne pouvant prétendre à aucun dédommagement à ce titre.
                4. L’Éditeur s’engage à procéder régulièrement à des contrôles
                afin de vérifier le fonctionnement et l’accessibilité du site. A
                ce titre, L’Éditeur se réserve la faculté d’interrompre
                momentanément l’accès au site pour des raisons de maintenance.
                De même, L’Éditeur ne saurait être tenue responsable des
                difficultés ou impossibilités momentanées d’accès au site qui
                auraient pour origine des circonstances qui lui sont
                extérieures, la force majeure, ou encore qui seraient dues à des
                perturbations des réseaux de télécommunication. 5. L’Éditeur ne
                garantit pas aux Utilisateurs (i) que les Services, soumis à une
                recherche constante pour en améliorer notamment la performance
                et le progrès, seront totalement exempts d’erreurs, de vices ou
                défauts, (ii) que les Services, étant standard et nullement
                proposés à la seule intention d’un Utilisateur donné en fonction
                de ses propres contraintes personnelles, répondront
                spécifiquement à ses besoins et attentes. 6. En tout état de
                cause, la responsabilité susceptible d’être encourue par
                L’Éditeur au titre des présentes est expressément limitée aux
                seuls dommages directs avérés subis par l’Utilisateur.<br> <br> 14)
                Propriété intellectuelle Les systèmes, logiciels, structures,
                infrastructures, bases de données et contenus de toute nature
                (textes, images, visuels, musiques, logos, marques, base de
                données, etc…) exploités par L’Éditeur au sein du site sont
                protégés par tous droits de propriété intellectuelle ou droits
                des producteurs de bases de données en vigueur. Tous
                désassemblages, décompilations, décryptages, extractions,
                réutilisations, copies et plus généralement, tous actes de
                reproduction, représentation, diffusion et utilisation de l’un
                quelconque de ces éléments, en tout ou partie, sans
                l’autorisation de L’Éditeur sont strictement interdits et
                pourront faire l’objet de poursuites judiciaires.<br> <br>15) Données à
                caractère personnel L’Éditeur pratique une politique de
                protection des données personnelles. <br> <br>16) Publicité L’Éditeur se
                réserve la faculté d’insérer sur toute page du site et dans
                toute communication aux Utilisateurs tous messages publicitaires
                ou promotionnels sous une forme et dans des conditions dont
                L’Éditeur sera seule juge. <br> <br>17) Liens et sites tiers L’Éditeur ne
                pourra en aucun cas être tenue pour responsable de la
                disponibilité technique de sites internet ou d’applications
                mobiles exploités par des tiers (y compris ses éventuels
                partenaires) auxquels l’Utilisateur accéderait par
                l’intermédiaire du site. L’Éditeur n’endosse aucune
                responsabilité au titre des contenus, publicités, produits et/ou
                services disponibles sur de tels sites et applications mobiles
                tiers dont il est rappelé qu’ils sont régis par leurs propres
                conditions d’utilisation. L’Éditeur n’est pas non plus
                responsable des transactions intervenues entre l’Utilisateur et
                un quelconque annonceur, professionnel ou commerçant (y compris
                ses éventuels partenaires) vers lequel l’Utilisateur serait
                orienté par l’intermédiaire du site et ne saurait en aucun cas
                être partie à quelques litiges éventuels que ce soit avec ces
                tiers concernant notamment la livraison de produits et/ou
                services, les garanties, déclarations et autres obligations
                quelconques auxquelles ces tiers sont tenus. <br> <br>18) Durée des
                Services, désinscription Les Services sont souscrits pour une
                durée indéterminée. L’Utilisateur peut se désinscrire des
                Services à tout moment, en adressant une demande à cet effet à
                L’Éditeur par email, aux coordonnées mentionnées à l’article 2
                ou dans son Espace Personnel. La désinscription est effective
                immédiatement. <br> <br>19) Modifications L’Éditeur se réserve la faculté
                de modifier à tout moment les présentes conditions générales.
                L’Utilisateur sera informé de ces modifications par tout moyen
                utile. L’Utilisateur qui n’accepte pas les conditions générales
                modifiées doit se désinscrire des Services selon les modalités
                prévues à l’article 18. Tout Utilisateur qui a recours aux
                Services postérieurement à l’entrée en vigueur des conditions
                générales modifiées est réputé avoir accepté ces modifications.
                <br> <br>20) Langue Dans l’hypothèse d’une traduction des présentes
                conditions générales dans une ou plusieurs langues, la langue
                d’interprétation sera la langue française en cas de
                contradiction ou de contestation sur la signification d’un terme
                ou d’une disposition. <br> <br>21) Loi applicable et juridiction Les
                présentes conditions générales sont régies par la loi française.
                En cas de contestation sur la validité, l’interprétation et/ou
                l’exécution des présentes conditions générales, les parties
                conviennent que les tribunaux de Paris seront exclusivement
                compétents pour en juger, sauf règles de procédure impératives
                contraires. <br> <br>22) Entrée en vigueur Les présentes conditions
                générales sont entrées en vigueur le 31/12/2022.
              </h5>
            </div>
          </div>
        </div>
      </section>

      <FooterTop />
      <Footer />
    </div>
  </div>
</template>

<style scoped>
::v-deep .modal-content {
  background-color: #000000;
  color: white;
  background: none;
  border: none;
}
::v-deep .modal-header {
  border: none;
}
::v-deep .modal-backdrop {
  opacity: 0.5;
}
</style>
