<script>
import Navbar from "@/components/public/navbar";
import Footer from "@/components/public/Homepage/footer";
import FooterTop from "@/components/public/Homepage/footerTop";
export default {
  name: "aboutUs",
  components: {
    Navbar,
    Footer,
    FooterTop,
  },
};
</script>

<template>
  <div>
    <Navbar />
    <div v-scroll-spy>
      <section class="section ">
        <div class="bg-overlay1"></div>
      </section>
      <!--END HOME-->
      <section class="section pt-5" id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h1 class="section-title text-center">Politique de confidentialité</h1>
              <div class="section-title-border margin-t-20"></div>
              <h5 style="color: black !important;"
                class="section-subtitle text-muted padding-t-30 font-secondary"
              >
                Politique de confidentialité Le site web darkmalt.ovh est la
                propriété de darkmalt, qui est le responsable du traitement de
                vos données personnelles. Nous avons adopté la présente
                Politique de confidentialité, qui détermine la manière dont nous
                traitons les informations collectées par darkmalt.ovh, qui
                fournit également les raisons pour lesquelles nous devons
                collecter certaines données personnelles vous concernant.<br> <br>Vous
                devez donc lire cette politique de confidentialité avant
                d'utiliser le site darkmalt.ovh.<br> <br>Nous prenons soin de vos
                données personnelles et nous nous engageons à en garantir la
                confidentialité et la sécurité. Les informations personnelles
                que nous recueillons : Lorsque vous visitez le site
                darkmalt.ovh, nous recueillons automatiquement certaines
                informations sur votre appareil, notamment des informations sur
                votre navigateur web, votre adresse IP, votre fuseau horaire et
                certains des cookies installés sur votre appareil.<br><br> En outre,
                lorsque vous naviguez sur le site, nous recueillons des
                informations sur les pages Web ou les produits individuels que
                vous consultez, les sites Web ou les termes de recherche qui
                vous ont renvoyé au site et la façon dont vous interagissez avec
                le site.<br><br> Nous désignons ces informations collectées
                automatiquement par le terme "informations sur les appareils".
                En outre, nous pourrions collecter les données personnelles que
                vous nous fournissez (y compris, mais sans s'y limiter, le nom,
                le prénom, l'adresse, les informations de paiement, etc.) lors
                de l'inscription afin de pouvoir exécuter le contrat.<br><br> Pourquoi
                traitons-nous vos données ? Notre priorité absolue est la
                sécurité des données des clients et, à ce titre, nous ne pouvons
                traiter que des données minimales sur les utilisateurs,
                uniquement dans la mesure où cela est absolument nécessaire pour
                maintenir le site web. Les informations recueillies
                automatiquement sont utilisées uniquement pour identifier les
                cas potentiels d'abus et établir des informations statistiques
                concernant l'utilisation du site web. Ces informations
                statistiques ne sont par ailleurs pas regroupées de manière à
                pouvoir identifier un utilisateur particulier du système.<br><br> Vous
                pouvez visiter le site Web sans nous dire qui vous êtes ni
                révéler d'informations permettant à quelqu'un de vous identifier
                en tant qu'individu spécifique et identifiable. Toutefois, si
                vous souhaitez utiliser certaines fonctionnalités du site web,
                ou si vous souhaitez recevoir notre lettre d'information ou
                fournir d'autres détails en remplissant un formulaire, vous
                pouvez nous fournir des données personnelles, telles que votre
                adresse électronique, votre prénom, votre nom, votre ville de
                résidence, votre organisation, votre numéro de téléphone.<br><br> Vous
                pouvez choisir de ne pas nous fournir vos données personnelles,
                mais il se peut alors que vous ne puissiez pas profiter de
                certaines fonctionnalités du site web. Par exemple, vous ne
                pourrez pas recevoir notre bulletin d'information ou nous
                contacter directement à partir du site web.<br> <br>Les utilisateurs qui
                ne savent pas quelles informations sont obligatoires sont
                invités à nous contacter via mail@darkmalt.com. Vos droits : Si
                vous êtes un résident européen, vous disposez des droits
                suivants relatifs à vos données personnelles : Le droit d'être
                informé. Le droit d'accès. Le droit de rectification. Le droit à
                l'effacement. <br><br>Le droit de restreindre le traitement. Le droit à
                la portabilité des données. le droit d'opposition. Droits
                relatifs à la prise de décision automatisée et au profilage. Si
                vous souhaitez exercer ce droit, veuillez nous contacter via les
                coordonnées ci-dessous. En outre, si vous êtes un résident
                européen, nous notons que nous traitons vos informations afin
                d'exécuter les contrats que nous pourrions avoir avec vous (par
                exemple, si vous passez une commande par le biais du Site), ou
                autrement pour poursuivre nos intérêts commerciaux légitimes
                énumérés ci-dessus. <br><br>En outre, veuillez noter que vos
                informations peuvent être transférées en dehors de l'Europe, y
                compris au Canada et aux États-Unis. Liens vers d'autres sites
                web : Notre site web peut contenir des liens vers d'autres sites
                web qui ne sont pas détenus ou contrôlés par nous. Sachez que
                nous ne sommes pas responsables de ces autres sites web ni des
                pratiques de confidentialité des tiers. Nous vous encourageons à
                être attentif lorsque vous quittez notre site Web et à lire les
                déclarations de confidentialité de chaque site Web susceptible
                de recueillir des informations personnelles.<br><br>Sécurité des
                informations : Nous sécurisons les informations que vous
                fournissez sur des serveurs informatiques dans un environnement
                contrôlé et sécurisé, protégé contre tout accès, utilisation ou
                divulgation non autorisés. Nous maintenons des mesures de
                protection administratives, techniques et physiques raisonnables
                pour nous protéger contre l'accès, l'utilisation, la
                modification et la divulgation non autorisés des données
                personnelles sous son contrôle et sa garde. <br><br>Toutefois, aucune
                transmission de données sur Internet ou sur un réseau sans fil
                ne peut être garantie. Divulgation légale : Nous divulguerons
                toute information que nous collectons, utilisons ou recevons si
                la loi l'exige ou le permet, par exemple pour nous conformer à
                une citation à comparaître ou à une procédure judiciaire
                similaire, et lorsque nous pensons de bonne foi que la
                divulgation est nécessaire pour protéger nos droits, votre
                sécurité ou celle d'autrui, enquêter sur une fraude ou répondre
                à une demande du gouvernement.<br><br>Informations de contact : Si vous
                souhaitez nous contacter pour mieux comprendre la présente
                Politique ou si vous souhaitez nous contacter concernant toute
                question relative aux droits individuels et à vos Informations
                personnelles, vous pouvez envoyer un courriel à
                mail@darkmalt.com.
              </h5>
            </div>
          </div>
        </div>
      </section>

      <FooterTop />
      <Footer />
    </div>
  </div>
</template>

<style scoped>
::v-deep .modal-content {
  background-color: #000000;
  color: white;
  background: none;
  border: none;
}
::v-deep .modal-header {
  border: none;
}
::v-deep .modal-backdrop {
  opacity: 0.5;
}
</style>
