<script>
import request from "../helpers/request";

export default {
  name: "ForgotPassword",
  data: () => ({
    email: "",
    msg: {},
  }),
  watch: {
    email(value) {
      // binding this to the data value in the email input
      this.email = value;
      this.validateEmail(value);
    },
  },
  methods: {
    validateEmail(value) {
      if (value.length === 0) this.msg.email = "";
      // eslint-disable-next-line no-useless-escape
      else if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)) {
        this.msg["email"] = "";
      } else {
        this.msg["email"] = "Email invalide";
      }
    },
    isFormValid() {
      return this.msg.email == "";
    },
    async forgotPassword() {
      if (!this.isFormValid()) {
        this.$toasted.show("Veuillez remplir tous les champs correctement", {
          position: "top-center",
          type: "error",
        });
        return;
      }
      try {
        const url = new URL("/reset-password", location);
        await request.create(`/api/back/forgot-password?url=${url.href}`).post({ email: this.email });
        this.$toasted.show(
          "Un mail pour changer votre mot de passe vous a été envoyé!",
          {
            position: "top-center",
            type: "success",
          }
        );
        this.$router.push({ name: "Index" });
      } catch (e) {
        this.$toasted.show(e.response && e.response.data || "Une erreur est survenue pendant l'envoi du mail!", {
          position: "top-center",
          type: "error",
        });
      }
    },
  },
};
</script>

<template>
  <div>
    <div class="account-home-btn d-none d-sm-block">
      <a href="/" class="text-white">
        <i class="mdi mdi-home h1"></i>
      </a>
    </div>

    <section class="bg-account-pages height-100vh">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="card account-card">
                  <div class="card-body">
                    <div class="text-center mt-3">
                      <h3 class="font-weight-bold">
                        <a
                          href="/"
                          class="text-dark text-uppercase account-pages-logo"
                          >Darkmalt</a
                        >
                      </h3>
                      <p class="text-muted">Réinitialiser votre mot de passe</p>
                    </div>
                    <div class="p-3">
                      <div class="alert alert-warning text-center" role="alert">
                        Saisissez votre adresse e-mail et nous vous enverrons un
                        e-mail contenant les instructions pour réinitialiser
                        votre mot de passe.
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Entrer votre email"
                          v-model.trim="email"
                        />
                        <span style="color:red" v-if="msg.email">{{
                          msg.email
                        }}</span>
                      </div>

                      <div class="mt-3">
                        <button
                          @click="forgotPassword()"
                          class="btn btn-custom btn-block"
                        >
                          Réinitialiser votre mot de passe
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
        </div>
      </div>
    </section>
    <!-- end account-pages  -->
  </div>
</template>
