<script>
import Navbar from "@/components/public/navbar";
import Services from "@/components/public/Homepage/services";
import Footer from "@/components/public/Homepage/footer";
import FooterTop from "@/components/public/Homepage/footerTop";
import Process from "@/components/public/Homepage/Process";

/**
 * index-2 component
 */
export default {
  name: "index-2",
  components: {
    Navbar,
    Services,
    Footer,
    Process,
    FooterTop
  },
};
</script>

<template>
  <div>
    <Navbar />
    <div v-scroll-spy>
      <!--START HOME-->
      <section
        class="section bg-home home-half"
        id="home"
        :style="{
          'background-image':
            'url(' + require('@/assets/images/bg-home.jpg') + ')',
          'background-size': 'cover',
          'background-position': 'center',
        }"
      >
        <div class="bg-overlay"></div>
        <div class="display-table">
          <div class="display-table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 offset-lg-2 text-white text-center">
                  <h1 class="home-title">
                    Les meilleurs talents sont ceux que vous choisissez ! 🚀
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wave-effect wave-anim">
          <div class="waves-shape shape-one">
            <div
              class="wave wave-one"
              :style="{
                'background-image':
                  'url(' +
                  require('@/assets/images/wave-shape/wave1.png') +
                  ')',
              }"
            ></div>
          </div>
          <div class="waves-shape shape-two">
            <div
              class="wave wave-two"
              :style="{
                'background-image':
                  'url(' +
                  require('@/assets/images/wave-shape/wave2.png') +
                  ')',
              }"
            ></div>
          </div>
          <div class="waves-shape shape-three">
            <div
              class="wave wave-three"
              :style="{
                'background-image':
                  'url(' +
                  require('@/assets/images/wave-shape/wave3.png') +
                  ')',
              }"
            ></div>
          </div>
        </div>
        <!--END HOME-->
      </section>
      <!--END HOME-->
      <Services />

      <Process />
      <FooterTop />
      <Footer />
    </div>
  </div>
</template>

<style scoped>
::v-deep .modal-content {
  background-color: #000000;
  color: white;
  background: none;
  border: none;
}
::v-deep .modal-header {
  border: none;
}
::v-deep .modal-backdrop {
  opacity: 0.5;
}
</style>
