<script>
/**
 * Login component
 */
import request from "../helpers/request";
// import cache from '../helpers/cache'

export default {
  name: "Login",
  data: () => ({
    email: "",
    password: "",
  }),
  methods: {
    async login() {
      try {
        const res = await request
          .create("/api/back/login")
          .post({ email: this.email, password: this.password });
        if (!res || !res.data)
          console.error("errors while login!", res.data, res.status);
        const { token } = res.data;
        window.location.href =
          process.env.VUE_APP_FRONT_PRIV_URL + `/authent?token=${token}`;
      } catch (e) {
        this.$toasted.show("Vos identifiants sont incorrect !", {
          position: "top-center",
          type: "error",
        });
      }
    },
  },
};
</script>

<template>
  <div>
    <div class="account-home-btn d-none d-sm-block">
      <a href="/" class="text-white">
        <i class="mdi mdi-home h1"></i>
      </a>
    </div>
    <section class="bg-account-pages height-100vh">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="card account-card">
                  <div class="card-body">
                    <div class="text-center mt-3">
                      <div class="account-home-btn2 ">
                        <a href="/" class="">
                          <i style="color:black" class="mdi mdi-home h1"></i>
                        </a>
                      </div>
                      <h3 class="font-weight-bold">
                        <a
                          href="/"
                          class="text-dark text-uppercase account-pages-logo"
                          >Se connecter</a
                        >
                      </h3>
                      <p class="text-muted">
                        Connectez-vous pour accéder à votre dashboard
                      </p>
                    </div>
                    <div class="p-3">
                      <!-- <form> -->
                      <div class="form-group">
                        <label for="username">Email</label>
                        <input
                          type="text"
                          class="form-control"
                          id="username"
                          placeholder="Entrez votre adresse e-mail"
                          v-model="email"
                        />
                      </div>

                      <div class="form-group">
                        <label for="userpassword">Mot de passe</label>
                        <input
                          type="password"
                          class="form-control"
                          id="userpassword"
                          placeholder="Entrez votre mot de passe"
                          v-model="password"
                          @keyup.enter="login"
                        />
                      </div>

                      <div class="mt-3">
                        <button class="btn btn-custom btn-block" @click="login">
                          Connexion
                        </button>
                      </div>

                      <div class="mt-4 mb-0 text-center">
                        <router-link
                          tag="a"
                          to="/forgot-password"
                          class="text-dark"
                        >
                          <i class="mdi mdi-lock"></i> Mot de passe oublié
                        </router-link>
                        <br/>
                        <router-link
                          tag="a"
                          to="/register"
                          class="text-dark"
                        >
                          Pas encore de compte ?
                        </router-link>
                      </div>
                      <!-- </form> -->
                    </div>
                  </div>
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
        </div>
      </div>
    </section>
    <!-- end account-pages  -->
  </div>
</template>
