
<script>
import request from '../helpers/request';

export default {
  name: "ResetPassword",
  data: () => ({
    password: '',
    confirmPassword: '',
    email: '',
    token: '',
  }),
  methods: {
    async resetPassword() {
      if (this.password !== this.confirmPassword) {
        this.toast("Vos mots de passe sont différents", "error");
        return;
      }
      try {
        await request.create(`/api/back/new-password?email=${this.email}&token=${this.token}`).post({password: this.password});
        this.toast("Votre mot de passe à été modifié!", "success");
        this.$router.push({name: "Index"});
      } catch (e) {
        this.toast(e.response && e.response.data || "Une erreur est survenue pendant l'envoi du mail!", "error");
      }
    },
    toast(message, type) {
      this.$toasted.show(message, {
        position: "top-center",
        type: type,
      });
    }
  },
  mounted() {
    this.email = this.$route.query.email;
    this.token = this.$route.query.token;
    if (!this.email || !this.token) {
      this.$router.push({name: "Index"});
    }
  }
};
</script>

<template>
  <div>
    <div class="account-home-btn d-none d-sm-block">
      <a href="/" class="text-white">
        <i class="mdi mdi-home h1"></i>
      </a>
    </div>

    <section class="bg-account-pages height-100vh">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="card account-card">
                  <div class="card-body">
                    <div class="text-center mt-3">
                      <h3 class="font-weight-bold">
                        <img class="navbar-brand  account-pages-logo" src="../assets/images/logo/logo2.png" width="45%" alt="logo" style="margin-left: 0px;">
                      </h3>
                      <p class="text-muted">Reinitilisation de mot de passe </p>
                    </div>
                    <div class="p-3">
                      <div
                        class="alert alert-warning text-center"
                        role="alert"
                      >Saisir votre nouveau mot de passe</div>
                        <div class="form-group">
                          <label for="password">Mot de passe</label>
                          <input
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="Mot de passe"
                            v-model="password"
                          />
                           <label for="email">Entrer à nouveau votre mot de passe</label>
                          <input
                            type="password"
                            class="form-control"
                            id="repassword"
                            placeholder="Confirmer votre mot de passe"
                            v-model="confirmPassword"
                          />
                        </div>

                        <div class="mt-3">
                          <button @click="resetPassword()" class="btn btn-custom btn-block">Changer le mot de passe</button>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
        </div>
      </div>
    </section>
    <!-- end account-pages  -->
  </div>
</template>
