<script>
import Navbar from "@/components/public/navbar";
import request from '../helpers/request';

export default {
  name: "validation-user",
  components: {
    Navbar,
  },
  methods: {
    async validateUser(email, token) {
      try {
        await request.create(`/api/back/confirmation-email?email=${email}&token=${token}`).put();
      } catch(e) {
        this.$toasted.show(e.response && e.response.data || "Une erreur est survenue pendant la validation du compte!", {
          position: "top-center",
          type: "error",
        });
      }
    }
  },
  mounted() {
    const email = this.$route.query.email;
    const token = this.$route.query.token;
    this.validateUser(email, token);
  },
};
</script>

<template>
  <div>
    <Navbar/>
    <div class="account-home-btn d-none d-sm-block">
      <a href="/" class="text-white">
        <i class="mdi mdi-home h1"></i>
      </a>
    </div>

    <section class="bg-account-pages height-100vh">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="my-5 pt-5">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="text-center my-5" style="color: white;">
                            <h1 class="font-weight-bold text-error">
                              Votre
                              <span style="color: red;">
                                compte
                              </span>
                              est validé
                            </h1>
                            <h3 class="text-uppercase">
                              Reconnecter vous pour que la validation soit
                              effective!
                            </h3>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
        </div>
      </div>
    </section>
    <!-- end account-pages  -->
  </div>
</template>
