<script>
/**
 * Signup component
 */
export default {
  name: "Signup",
};
</script>
<template>
  <div>
    <div class="account-home-btn d-none d-sm-block">
      <a href="/" class="text-white">
        <i class="mdi mdi-home h1"></i>
      </a>
    </div>
    <section class="bg-account-pages height-100vh">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="card account-card">
                  <div class="account-home-btn2 ">
                    <a href="/" class="">
                      <i style="color:black" class="mdi mdi-home h1"></i>
                    </a>
                  </div>
                  <div class="card-body">
                    <div class="text-center mt-3">
                      <h3 class="font-weight-bold">
                        <img
                          class="navbar-brand  account-pages-logo"
                          src="../../assets/images/logo/logo2.png"
                          width="45%"
                          alt="logo"
                          style="margin-left: 0px;"
                        />
                      </h3>
                      <p class="text-muted">Choisissez votre type de compte</p>
                    </div>
                    <div class="p-3">
                      <form>
                        <div class="mt-3">
                          <router-link :to="{ name: 'Signup freelance' }">
                            <button
                              type="submit"
                              class="btn btn-custom btn-block"
                            >
                              Auto-entrepreneur 🚀
                            </button>
                          </router-link>
                        </div>
                        <div class="mt-3">
                          <router-link :to="{ name: 'Signup enterprise' }">
                            <button
                              type="submit"
                              class="btn btn-custom btn-block"
                            >
                              Entreprise 🏢
                            </button>
                          </router-link>
                        </div>
                        <div style="text-align: center;">
                          <router-link
                            tag="a"
                            to="/login"
                            class="text-dark"
                          >
                            Déjà inscrit ?
                          </router-link>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
        </div>
      </div>
    </section>
    <!-- end account-pages  -->
  </div>
</template>
