<script>
export default {};
</script>

<template>
  <div>
    <!--START PROCESS-->
    <section class="section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h1 class="section-title text-center click-axeptio">Procédure rapide et facile !</h1>
            <div class="section-title-border margin-t-20"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 text-center process-left-icon-1">
            <i class="pe-7s-angle-right"></i>
          </div>
          <div class="col-lg-6 text-center process-left-icon-2">
            <i class="pe-7s-angle-right"></i>
          </div>
        </div>
        <div class="row margin-t-50">
          <div class="col-lg-4 plan-line">
            <div class="text-center process-box">
              <i class="pe-7s-pen text-custom"></i>
              <h4 class="padding-t-15">Inscrivez-vous via notre formulaire</h4>
            </div>
          </div>
          <div class="col-lg-4 plan-line">
            <div class="text-center process-box">
              <i class="pe-7s-id text-custom"></i>
              <h4 class="padding-t-15">Uploadez vos documents auto-entrepreneur</h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center process-box">
              <i class="pe-7s-target text-custom"></i>
              <h4 class="padding-t-15">Trouvez votre première mission ! </h4>
            </div>
          </div>
          <div class="text-center mx-auto">
            <a
              href="javascript: void(0);"
              class="btn btn-custom waves-light waves-effect margin-t-50"
            >
              S'inscrire 
              <i class="mdi mdi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!--END PROCESS-->
  </div>
</template>