<template>
    <!--START FOOTER-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class=" text-center col-lg-6 margin-t-20">
                        <h4>DarkMalt</h4>
                        <div class="text-muted margin-t-20">
                            <ul class="list-unstyled footer-list">
                                <li><a href="/">Accueil</a></li>
                                <li><a href="/about-us">Qui sommes-nous</a></li>
                                <li><a href="/register" class="click-axeptio">Inscription</a></li>
                                <li><a href="/login" class="click-axeptio">Connexion</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center col-lg-6 margin-t-20">
                        <h4>Légal</h4>
                        <div class="text-muted margin-t-20">
                            <ul class="list-unstyled footer-list">
                                <li><a href="/politique-de-confidentialite">Politique de confidentialité</a></li>
                                <li><a href="/cgu">Condition général d'utilisation</a></li>
                                <li><a href="/cgv">Condition général de vente</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--END FOOTER-->
</template>

<script>
export default {
  name: 'FooterSection',
  props: {
  }
}
</script>