<script>
export default {};
</script>

<template>
  <!--START SERVICES-->
  <section class="section pt-5" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h1 class="section-title text-center">Les dernières technos appréciées</h1>
          <div class="section-title-border margin-t-20"></div>
          <p
            class="section-subtitle text-muted text-center padding-t-30 font-secondary"
          >Réalisez des missions freelances grâces à votre incroyable pouvoir en développement web. Rien n'aura de secret pour vous 🚀</p>
        </div>
      </div>
      <div class="row margin-t-30">
        <div class="col-lg-4 margin-t-20">
          <div class="services-box text-center hover-effect">
             <img src="@/assets/images/icon/vuejs.png" class="img-fluid" alt />
            <h4 class="padding-t-15">VueJS</h4>
          </div>
        </div>
        <div class="col-lg-4 margin-t-20">
          <div class="services-box text-center hover-effect">
             <img src="@/assets/images/icon/rn.png" class="img-fluid" alt />
            <h4 class="padding-t-15">ReactJS</h4>
          </div>
        </div>
        <div class="col-lg-4 margin-t-20">
          <div class="services-box text-center hover-effect">
             <img src="@/assets/images/icon/angular.png" class="img-fluid" alt />
            <h4 class="padding-t-15">Angular</h4>
          </div>
        </div>
      </div>
      <div class="row margin-t-30">
        <div class="col-lg-4 margin-t-20">
          <div class="services-box text-center hover-effect">
             <img src="@/assets/images/icon/php.png" class="img-fluid" alt />
            <h4 class="padding-t-15">PHP</h4>
          </div>
        </div>
        <div class="col-lg-4 margin-t-20">
          <div class="services-box text-center hover-effect">
             <img src="@/assets/images/icon/golang.png" class="img-fluid" alt />
            <h4 class="padding-t-15">GO</h4>
          </div>
        </div>
        <div class="col-lg-4 margin-t-20">
          <div class="services-box text-center hover-effect">
             <img src="@/assets/images/icon/django.png" class="img-fluid" alt />
            <h4 class="padding-t-15">Django</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--START SERVICES-->
</template>