<script>
export default {};
</script>

<template>
  <div>
    <!--START TESTIMONIAL-->
    <section class="section pt-4" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h1 class="section-title text-center">Ils nous ont rejoins aujourd'hui !</h1>
            <div class="section-title-border margin-t-20"></div>
          </div>
        </div>
        <div class="row margin-t-50">
          <div class="col-lg-3 col-sm-6">
            <div class="team-box text-center hover-effect">
              <div class="team-wrapper">
                <div class="team-member">
                  <img alt src="@/assets/images/team/img-1.jpg" class="img-fluid rounded" />
                </div>
              </div>
              <h4 class="team-name">Ewan LEMEE</h4>
              <p class="text-uppercase team-designation">CEO</p>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="team-box text-center hover-effect">
              <div class="team-wrapper">
                <div class="team-member">
                  <img alt src="@/assets/images/team/img-2.png" class="img-fluid rounded" />
                </div>
              </div>
              <h4 class="team-name">Andrea ECHEVERRIA</h4>
              <p class="text-uppercase team-designation">Designer</p>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="team-box text-center hover-effect">
              <div class="team-wrapper">
                <div class="team-member">
                  <img alt src="@/assets/images/team/img-3.jpg" class="img-fluid rounded" />
                </div>
              </div>
              <h4 class="team-name">Valentin ROUSSEL</h4>
              <p class="text-uppercase team-designation">Developer</p>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="team-box text-center hover-effect">
              <div class="team-wrapper">
                <div class="team-member">
                  <img alt src="@/assets/images/team/img-4.jpg" class="img-fluid rounded" />
                </div>
              </div>
              <h4 class="team-name">Nashad HEDOO</h4>
              <p class="text-uppercase team-designation">Manager</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--END TESTIMONIAL-->
  </div>
</template>